/* start variables */
:root {
    --min-color: #0E36DF;
}

::selection {
    color: white;
    background-color: black;
}

/* end variables */

/* start global rules */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* end global rules */

/* start header */
header .container {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container .nav-left {
    display: flex;
    align-items: center;
}

header .container .nav-left img {
    height: 60px;
    padding-right: 3px;
    cursor: pointer;
}

header .container .nav-left label {
    color: var(--min-color);
    font-weight: 800;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
}

header .container .nav-left ul li {
    display: inline-block;
    padding-left: 40px;
    font-size: 16px;
}

header .container .nav-left ul li a {
    color: black;
}

.nav-left ul li:hover {
    transform: translateY(35%) ;
    transition: all 1s;

}

.nav-left ul a:hover {
    background: var(--min-color);
    border-radius: 5px;
    color: white !important;
    padding: 5.5px;
}

header .container .nav-right {
    display: flex;
    align-items: center;
}

header .container .nav-right ul li {
    display: inline-block;
    padding-right: 40px;
    font-size: 16px;
}

header .container .nav-right ul li a {
    color: black;
}

.nav-right ul li:hover {
    transform: translateY(35%) ;
    transition: all 1s;

}

.nav-right ul a:hover {
    background: var(--min-color);
    border-radius: 5px;
    color: white !important;
    padding: 5.5px;
}

header .container .nav-right button {
    background-color: var(--min-color);
    color: white;
    border: 1px solid var(--min-color);
    border-radius: 15px;
    padding: 10px 20px;
    cursor: pointer;
}

header .container .nav-right button:hover {
    transform: translateY(20%);
    transition: all 0.8s;
    background: none;
    color: black;
    border-color: black;
}
/* end header */

/* start body */
.section .container {
    padding-top: 100px;
    padding-bottom: 70px;
    display: flex;
    justify-content: space-evenly;
}

.section .container .left-section {
    margin-left: 50px;
}

.section .container .left-section img {
    width: 250px;
}

.section .container .right-section {
    padding-left: 140px;
    padding-right: 200px;
    margin-top: -25px;
}

.section .container .right-section .text h1 {
    font-weight: 700;
    font-size: 50px;
}

.section .container .right-section .text p {
    font-size: 18px;
    color: #363d44;
    padding-bottom: 40px;
    margin-top: -20px;
}

.section .container .right-section .send-link input {
    padding: 18px 120px 18px 10px;
    border: 1px solid #E5E5DE;
    border-radius: 10px;
}

.section .container .right-section .send-link button {
    background-color: var(--min-color);
    border: 1px solid var(--min-color);
    border-radius: 20px;
    padding: 18px 35px;
    color: white;
    margin-left: 10px;
    cursor: pointer;
}

.section .container .right-section .send-link button:hover {
    transform: scale(0.9);
    transition: all 0.8s;
    background: none;
    border: 1px solid black;
    color: black;
}

.section .container .right-section .send-link p {
    padding-top: 15px;
    padding-bottom: 30px;
    color: #5e5e5e;
    font-size: 12px;
    padding-right: 10px;
    letter-spacing: -0.5;
}

.section .container .right-section .send-link span {
    color: var(--min-color);
    text-decoration: underline;
    cursor: pointer;
}

.section .container .right-section .store .apple-store {
    width: 200px;
    cursor: pointer;
}

.section .container .right-section .store .apple-store:hover {
    transform: translateY(20%);
    transition: all 0.8s;
}

.section .container .right-section .store .google-play {
    width: 250px;
    position: relative;
    top: 14px;
    cursor: pointer;
}

.section .container .right-section .store .google-play:hover {
    transform: translateY(12%);
    transition: all 0.8s;
}

/* end body */

/* start footer */
footer {
background-color: var(--min-color);
padding-top: 20px;
padding-bottom: 40px;
}

footer .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

footer .container .right-footer {
    display: flex;
    position: relative;
    left: 30px;
}

footer .container .right-footer .features,
footer .container .right-footer .resources,
footer .container .right-footer .company {
    padding-left: 35px;
    padding-right: 35px;
}

footer .container .right-footer h2
 {
    color: white;
    font-weight: 600;
    cursor: pointer;
    padding-bottom: 30px;
}

footer .container .right-footer p {
    color: white;
    font-weight: 200;
    cursor: pointer;
    padding-bottom: 10px;
}

footer .container .left-footer img {
    width: 180px;
    cursor: pointer;
}

footer .container .left-footer p {
    color: white;
    font-weight: 300;
    font-size: 15px;
    width: 60%;
    line-height: 1.5;
}
/* end footer */